html,
body {
    height: 11in;
    width: 8.5in;
}

a {
    color: whitesmoke;
}

canvas {
    height: 100%;
    width: 100%
}

body {
    background-color: #252020;
    border: solid;
    padding: 0.5%;
}

ul {
    display: inline-block; 
    padding-top: 1%;
}

li {
    text-align: left;
}

#start {
    height: 100%;
}

/* ---------------------------------------------------------------------------- */
/* classes */
/* ---------------------------------------------------------------------------- */
.greeting,
.edu,
.text {
    color: lightblue;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

.edu {
    margin: 0%;
}

.greeting {
    padding-top: 0.2%;
}

.gears,
.info {
    padding: 0.2%;
    background-color: #252525;
    border: solid #101010;
    display: inline-block;
    width: 48%;
    height: 98%;
}

.info {
    float: left;
}

.about {
    padding-bottom: 2%;
}

.gears {
    float: right;
}